html, 
body {
  margin: 0;
  background-color: #2f4f30;
  color: white;
}

.title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
}

.cards {
  height: 240px;
  display: flex;
}

.carta {
  position: relative;
  width: 150;
  left: 100px;
  margin-left: -75px;
}